<div class="modal-header">
    <h4 class="modal-title">Edit Faborite Website</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #f="ngForm">
        <div class="form-group">
            <label for="websitename">Website Name</label>
            <input type="text" class="form-control" id="websitename" placeholder="website name"
            [(ngModel)]="favorite.websiteName"
            name="wbsiteNme"
            #name="ngModel"
            required
            [ngClass]="{'border border-danger': !name.valid}"            
            >            
            <div *ngIf="name?.errors?.required" class="text-danger">
                Website Name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Url</label>
            <input type="url" class="form-control" id="url" placeholder="http://url"
            [(ngModel)]="favorite.url"
            name="url"
            #url="ngModel"
            appUrlValidator
            required
            [ngClass]="{'border border-danger': !url.valid}"
            >
            <div *ngIf="url?.errors?.appUrlValidator" class="text-danger">
                {{url.errors.appUrlValidator}}
            </div>
            <div *ngIf="url?.errors?.required" class="text-danger">
                Url is required.
            </div>

        </div>
        
        
    </form>
    <div>
   
    </div>
</div>
<div class="modal-footer">   
    <button type="button" class="btn btn-outline-dark" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="onSave()" 
    [disabled]="!f.valid">Save</button>
    
</div>