
<div class="container-fluid">
    <div class="header d-flex my-4">
        <div  class="text-capitalize  font-weight-bold">Favorites</div>
        <div class="ml-auto d-flex">            
            <div class="search border rounded">
                <fa-icon [icon]="faSearch" class="mx-1"></fa-icon>
                <input type="text" class="border-0 h-100 " #search/>
            </div>
            <a class="btn border rounded mr-1" (click)="add()"><fa-icon [icon]="faPlus"></fa-icon></a>  
            <a *ngIf="isGridView" routerLink="/favorites/tiles" class="btn border rounded"><fa-icon [icon]="faTable "></fa-icon></a>  
            <a *ngIf="!isGridView" routerLink="/favorites/grid" class="btn border rounded"><fa-icon [icon]="faList"></fa-icon></a>      
        </div>    
    </div>
    <router-outlet></router-outlet>
</div>
